body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(29, 29, 29);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
 sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

main {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
 monospace;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 90px;
  background: #383838;
  border: 5px solid rgb(44, 44, 44);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 10);
background-blend-mode: screen;
}

main section {
  display: block;
  margin: 15px auto;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
background-blend-mode: screen;
}

main .colors {
  border: 5px solid rgb(44, 44, 44);
  position: relative;
  background: #000;
  background: radial-gradient(circle closest-side, white, black 90%), conic-gradient(red, #ff8000, yellow, #80ff00, lime, #00ff80, cyan, #0080ff, blue, #8000ff, magenta, #ff0080, red);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  background-blend-mode: screen;
  border-radius: 50%;
}

main .colors .color-picker {
  display: none;
  width: 200px;
  height: 35px;
  position: absolute;
  top: 50%;
  left: 45px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          
}

main .colors .color-picker:focus {
  display: block;
}

main .colors:hover .color-picker {
  display: block;
}

main .thickness {
  position: relative;
  background-color: white;
  border: 5px solid rgb(44, 44, 44);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
background-blend-mode: screen;
}

main .thickness::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: #171717;
}

main .thickness .stroke-weight {
  display: none;
  position: absolute;
  width: auto;
  height: 35px;
  left: 45px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .thickness .stroke-weight:focus {
  display: block;
}

main .thickness:hover .stroke-weight {
  display: block;
}

main .eraser {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  color: #383838;
  font-size: 20px;
  font-weight: 900;
  background-color: rgb(233, 176, 233);
  border: 5px solid rgb(44, 44, 44);
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
background-blend-mode: screen;
}

main .clear {
  position: relative;
  top: 15px;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  color: #383838;
  font-size: 20px;
  font-weight: 900;
  background-color: rgb(131, 255, 115);
  border: 5px solid rgb(44, 44, 44);
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
background-blend-mode: screen;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
